/**
 * @file
 * equialti.css
 */

.world {
  position: relative;
}

.stage, .sticky-stage {
  position: relative;
  transform: scale(1);
  transition: none;
  z-index: 5;
}

.js .stage {
  min-height: 100%;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.js .stage .layer, .js .stage .content-layer {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.js .stage .content-layer > .content {
  position: relative;
  z-index: 10;
}

.js .stage .vertical-alignment {
  display: table;
  height: 100%;
  width: 100%;
  z-index: 15;
}

.js .stage .vertical-alignment > .middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  z-index: 20;
}
